@import '../../assets/styles/mixin';

.navigation_container {
    width: 60vw;
    left: 0;
    position: fixed;
    max-height: 92vh;

    transition: left 0.5s ease;
    background-color: rgba(190, 190, 190, 0.404);

    @include tablet{
        position: relative;
        width: 22vw;
        max-height: 100%;

        background-color: transparent;
    }

    @include desktop{
        width: 13vw;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }
}

.navigation_list{
    touch-action: none;
    padding: 20px;;
}

.btn_more{
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;
    background-color: transparent;
    border: none;
}