@import '../../assets/styles/mixin';

.navigation_container {
    touch-action: none;
    width: 60vw;
    padding: 15px;

    position: absolute;
    left: 0;

    transition: left 0.5s ease;
    background-color: rgba(190, 190, 190, 0.404);
    max-height: 92%;

    @include tablet{
        position: relative;
        max-height: 80%;

        width: 22vw;
        background-color: transparent;
    }

    @include desktop{
        width: 13vw;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}