@import '../../assets/styles/mixin';

.navigation_container {
    // width: 13vw !important;
    width: 60vw;
    padding: 15px;

    position: absolute !important;
    top: 0;
    left: 0;


    transition: left 0.5s ease;
    background-color: rgba(190, 190, 190, 0.404);
    max-height: 85%;

    @include tablet{
        background-color: red;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}