.modal_container{
    padding: 20px !important;

    .title{
        margin-bottom: 25px;
    }

    .buttonExit{
        position: absolute !important;
    
        top: 7px;
        right: 7px;
    }
}
