@import-normalize; /* bring in normalize.css styles */
@import "./assets/styles/mixin";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: url(./assets/painting-mountain-lake-with-mountain-background_188544-9126.avif);
}

#root{
  .fc-header-toolbar{
    flex-direction: column;
    gap: 10px;
    // color: rgba(165, 165, 165, 0.799);

    @include tablet{
      flex-direction: row;
    }

  }

  .fc-toolbar-title{
    font-size: medium;

    @include tablet{
      font-size: large;
    }
  }

  .fc-toolbar-chunk{

    @include tablet{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px

    }

    @include big-tablet{
      flex-direction: row;
      gap: 20px;
    }
  }

  .fc-button{
    height: 100%;
    padding: 6px;
  }

  .fc-today-button{
    width: 100px;

    @include tablet{
      margin: 0;
    }
  }

  .fc-dayGridMonth-button{
    display: none;
    width: 80px;

    @include tablet{
      display: block;
    }
  }

  .fc-timeGridWeek-button {
    display: none;
    width: 80px;

    @include tablet{
      display: block;
    }
  }

  .fc-timeGridDay-button{
    width: 80px;
  }
  .fc-scrollgrid-sync-table{
    .fc-day{
      .fc-daygrid-day-frame{
        @include tablet{
          height: 80px;
          overflow-y: auto;
        }
      }
    }
  }

  // .fc-listMonth-button{
  //   max-height: 25.6px;
  //   white-space: nowrap;      
  //   overflow: hidden;          
  //   text-overflow: ellipsis;   
  //   max-width: 100%;
  // }


  .fc-view-harness{
    // height: 55vh !important;
  }
  .fc-scrollgrid{
    
  }
  .fc-listMonth-button{
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

header {
  // background-color: rgba(154, 94, 94, 0.74);
}

main {
  // background-color: rgba(68, 126, 68, 0.63);
  overflow: hidden;
}

footer {
  // background-color: rgba(68, 130, 130, 0.662);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
