@import '../../assets/styles/mixin';

.information_main_container{
    width: 80vw;

    @include tablet{
        max-width: 500px;
    }
}
.information_headers_container{
    display: flex;
    justify-content: space-between;

    margin-bottom: 25px;

    gap: 10px;

    @include tablet{
        justify-content: center;
        gap: 30px;
    }

    .title{
        text-align: center;
        padding-bottom: 15px;

        font-weight: normal;

        border-bottom: 2px solid rgb(190, 190, 190);
    }
    .color_block{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        padding-bottom: 17px;

        border-bottom: 2px solid rgb(190, 190, 190);

        .color{
            width: 25px;
            height: 25px;

            border-radius: 3px;
        }
    }
}
.information_list{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 35px;

    .item{
        display: flex; 
        gap: 10px;

        .title{
            .text_place{

            }
        }
        .time{

        }
        .organizer_block{
            display: flex;
            gap: 10px;

            .organizer{
                display: flex;
                gap: 5px;
            }
        }
    }
}
.informatin_btn{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

